{
    "version" : "2017-02-28",
    "operation" : "UpdateItem",
    "key" : {
        "id": $util.dynamodb.toDynamoDBJson($ctx.args.roomId),
    },
    "update": {
    	"expression": "SET messages = list_append(messages, :newMessage)",
    	"expressionValues": {
    		":newMessage": {"L": [$util.dynamodb.toDynamoDBJson($ctx.args.message)]}
    	}
    }
}