.small-bold {
    font-size: 12px !important;
    font-weight: bold !important;
}
.container-wrapper {
    margin-top: 20px;
}
.right-10 {
    margin-right: 10px;
}
.messages-wrapper {
    margin-top: 5px;
    height: 45vh;
    max-height: 500px;
    position: relative;
    display: block;
}
.message-input-box textarea {
    height: 31px !important;
    resize: none;
}
.messages-list-box {
    height: 100%;
    border-radius: .2rem;
    border: 1px solid lightgray;
    position: relative;
    display: block;
    overflow: auto;
}
.no-margin {
    margin: 0px !important;
    border-top: 0px !important;
}
.message-small {
    overflow-wrap: break-word !important;
    white-space: pre-line;
}